.firstscreen {
	overflow: hidden;

	&__row {
		align-items: center;

		@media screen and (max-width: 767px) {
			display: block;
		}
	}

	&__content {
		flex: 0 0 100%;
	}

	&__body {
		width: 50%;
		padding: 25px 20px 25px 0px;

		@media screen and (max-width: 991px) {
			width: 40%;
		}
		@media screen and (max-width: 767px) {
			width: 100%;
			padding: 25px 0;
		}
	}

	&__title {
		margin-bottom: 30px;
		max-width: 447px;

		@media screen and (max-width: 767px) {
			max-width: 100%;
			margin-bottom: 20px;
		}
	}

	&__text {
		margin-bottom: 36px;
		max-width: 447px;
		font-size: 15px;
		line-height: 21px;

		@media screen and (max-width: $layoutDesktop + "px") {
			font-size: calc(12px + 3 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(21 / 15);
		}
		@media screen and (max-width: 767px) {
			max-width: 100%;
			margin-bottom: 20px;
		}
	}

	&__button {
		a {
			height: 67px;
			max-width: 248px;

			@media screen and (max-width: 450px) {
				height: 50px;
				max-width: 100%;
			}
		}
	}

	&__gallery {
		flex: 0 0 50%;
		transform: translate(-100%, 0);

		@media screen and (max-width: 991px) {
			flex: 0 0 60%;
		}
		@media screen and (max-width: 767px) {
			transform: translate(0, 0);
			margin-bottom: 30px;
		}
	}

	&--tabs {
		.row {
			align-items: flex-start;
		}

		.firstscreen__body {
			padding: 38px 20px 38px 0;
		}

		.firstscreen__title {
			max-width: 100%;
		}

		.firstscreen__text {
			@media screen and (max-width: 450px) {
				margin-bottom: 0;
			}
		}
	}

	&__tabs {
		max-width: 498px;
		padding-bottom: 20px;

		.tabs-triggers {
			margin-bottom: 40px;

			@media screen and (max-width: 450px) {
				display: none;
			}

			&__item {
				font-weight: 900;
				font-size: 15px;
				line-height: 21px;
				color: $Black;
				text-transform: uppercase;
				text-align: center;
				padding: 9px 15px;
				flex: 0 0 33.333%;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $Gray;
				background-color: $White;
				transition: 0.3s ease all 0s;

				@media screen and (max-width: $layoutDesktop + "px") {
					font-size: calc(12px + 3 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
					line-height: calc(21 / 15);
				}
				@media screen and (max-width: 991px) {
					flex: 1 1 auto;
				}

				&--active {
					border-color: $Cyan;
					background-color: $Cyan;
					color: $White;
				}
			}
		}

		.tabs-content {
			&__item {
				@media screen and (max-width: 450px) {
					display: block;
				}
			}
		}

		.accordion {
			&__title {
				font-weight: 900;
				font-size: 15px;
				line-height: 21px;
				color: $Black;
				text-transform: uppercase;
				flex: 0 0 100%;
				display: flex;
				align-items: center;
				padding: 10px 30px 10px 0;

				&::before,
				&::after {
					background-color: $Black;
				}

				@media screen and (min-width: 451px) {
					display: none;
				}
				@media screen and (max-width: $layoutDesktop + "px") {
					font-size: calc(12px + 3 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
					line-height: calc(21 / 15);
				}
			}

			&__text {
				@media screen and (min-width: 451px) {
					display: block !important;
				}
			}
		}
	}
}
