.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px;
    white-space: nowrap;

    &-orange {
        background-color: $Orange2;
        color: $White;
    }

    &-white {
        background-color: $White;
        color: $Black;
    }
}


.slick-arrow {
    font-size: 0;
    line-height: 1;
    background: #f68351;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    z-index: 1;

    @media screen and (max-width: 575px) {
        width: 28px;
        height: 28px;
    }
}

.slick-prev {
    left: 0;

    i {
        transform: rotate(-180deg);
    }
}
.slick-next {
    right: 0;
}


.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        button {
            font-size: 0;
            line-height: 1;
            display: block;
        }
    }
}