.icon-calc-monitor {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../img/icons/calc-monitor.svg") center no-repeat;
}

.icon-calc-server {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url("../img/icons/calc-server.svg") center no-repeat;
}

.icon-calculator {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	background: url("../img/icons/calculator.svg") center no-repeat;
}

.icon-location {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	background: url("../img/icons/location.svg") center no-repeat;
}

.icon-phone {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	background: url("../img/icons/phone.svg") center no-repeat;
}

.icon-user {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	background: url("../img/icons/user.svg") center no-repeat;
}

.icon-fax {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/fax.svg") center no-repeat;
}

.icon-man-user-clock {
	display: inline-block;
	vertical-align: middle;
	width: 31px;
	height: 36px;
	background: url("../img/icons/man-user-clock.svg") center no-repeat;
}

.icon-man-user {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 39px;
	background: url("../img/icons/man-user.svg") center no-repeat;
}

.icon-monitor {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background: url("../img/icons/monitor.svg") center no-repeat;
}
