body {
    font-family: $font;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $fontColor;
    overflow-x: hidden;

    @media screen and (max-width: $layoutDesktop + 'px') {
        font-size: calc(12px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
        line-height: calc(19 / 14);
    }

    &.lock {
        overflow: hidden;
    }
}

.site {
    &__wrap {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__main {
        @media screen and (max-width: 880px) {
            padding-top: $size-header-mobile;
        }
    }

    &__footer {
        margin-top: auto;
    }
}

.container {
    width: 100%;
    max-width: $size-container;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: 992px) {
        padding: 0 30px;
    }
}

.row {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0px 0px 16px 0px;
}