// === Sizes ===
$size-container: 1170px;
$size-layout-desktop: 1920;
$size-header-height: 89px;
$size-header-height-mobile: 52px;

// === Font ===
$fontSize: 14px;
$fontColor: #000;
$fontWeight: 400;
$font: "Gilroy";
$fontSecond: "Roboto", $font;
$lineHeight: 140%;

// === Color ===
