// === Sizes ===
$size-container: 1230px;
$layoutDesktop: 1920;
$layoutMobile: 320;

$size-header-top-height: 71px;
$size-header-bottom-height: 49px;
$size-header-mobile: 63px;

// === Font ===
$fontSize: 14px;
$fontColor: #000;
$fontWeight: 400;
$font: "Gilroy";
$fontSecond: "Roboto", $font;
$lineHeight: 140%;

// === Color ===
$White: #fff;
$Black: #000;
$Cyan: #74bcbc;
$Orange: #fc5e06;
$Orange-hover: #ec7947;
$Orange2: #f68351;
$Gray: #e4e4e4;
$GrayDark: #464646;
$GrayDark2: #9d9d9d;
$Gray2: #636363;
$GrayLight: #f5f5f5;
$Gray3: #c4c4c4;
$Blue: #2196f3;
$Red: #d04747;
$Green: #7abb5c;
$Green2: #519d88;
